@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000;
  --catalina: #06327d;
  --blue: #2b70e4;
  --veg: ##209d5c;
  --sunglow: #ffd034;
  --white: #fff;
  --lightblue: #cadbf8;

  --font-main: Montserrat;
}

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-main), sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--catalina);
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  color: var(--white);
  font-family: var(--font-main), sans-serif;
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  display: inline;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

.button {
  background-color: var(--veg);
  color: var(--white);
  border-radius: 10px;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: solid 9px var(--sunglow);
  align-items: center;
  padding-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

/* 
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
} */

@media (min-width: 1000px) {
  .brand {
    text-align: center;
  }

 header {
  justify-content: space-between;
  align-items: baseline;
 }
}
