@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000;
  --catalina: #06327d;
  --blue: #2b70e4;
  --veg: ##209d5c;
  --sunglow: #ffd034;
  --white: #fff;
  --lightblue: #cadbf8;

  --font-main: Montserrat;
}

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-main), sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--catalina);
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-main), sans-serif;
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

.button {
  background-color: var(--veg);
  color: var(--white);
  border-radius: 10px;
}
